.container{
    width: 181.3vh;
    height: 100vh;
    background-color: #F8F5F0;
}
.bar{
    height: 15vh;
    width: 100%;
}
.infos{
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.cards-area{
    height: 65vh;
    width: 80%;
    background-color: #D0CEBB;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.312); 
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.196);
}