.container{
    width: 181.3vh;
    height: 100vh;
    background-color: #F8F5F0;
}
.bar{
    height: 15vh;
    width: 100%;
}
.infos{
    height: 75vh;
    width: 100%;
    /* background-color: aquamarine; */
}
.cards-area{
    height: 65vh;
    width: 80%;
    background-color: #D0CEBB;
}
.area-ads{
    height: 10vh;
    width: 100%;
    /* background-color: rebeccapurple; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
}