<app-head-menu/>

<div class="container">
    <p-accordion [activeIndex]="0" class="faq-box">
    <p-accordionTab header="Header I" class="questions">
        <p>
            Lorem ipsum dolor sit amet...
        </p>
    </p-accordionTab>
    <p-accordionTab header="Header II" class="questions">
        <p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...
        </p>
    </p-accordionTab>
    <p-accordionTab header="Header III" class="questions">
        <p>
            At vero eos et accusamus et iusto odio dignissimos...
        </p>
    </p-accordionTab>
</p-accordion>
</div>
<app-footing/>
