<app-head-menu/>

<div class="container">
    <p-accordion [activeIndex]="0" class="faq-box">
    <p-accordionTab header="O que é a Lokus" tabStyleClass="questions">
        <p>
            A Lokus é uma plataforma de busca especializada em encontrar os melhores locais para trabalhar e estudar remotamente em Blumenau-SC. 
            Reunimos informações atualizadas sobre cafeterias, coworkings, espaços públicos e outros locais com estrutura para o trabalho remoto.
        </p>
    </p-accordionTab>
    <p-accordionTab header="Como a Lokus escolhe os locais?" tabStyleClass="questions">
        <p>
            Realizamos busca baseada em critérios como conectividade Wi-Fi, ambiente silencioso, 
            disponibilidade de tomadas, conforto, consumo mínimo e avaliações dos usuários.
        </p>
    </p-accordionTab>
    <p-accordionTab header="Que tipos de locais posso encontrar na Lokus?" tabStyleClass="questions">
        <p>
            Cafeterias com bom Wi-Fi e estrutura para trabalho. Coworkings com planos diários, mensais ou por hora. 
            Espaços públicos adaptados para trabalho remoto.
            Hotéis, livrarias, instituição de ensino com áreas de coworking
        </p>
    </p-accordionTab>
     <p-accordionTab header="Os locais são avaliados por outros usuários?" tabStyleClass="questions">
        <p>
            Sim! Os usuários podem avaliar os locais com estrelas e comentários, ajudando outros profissionais a escolherem melhor.
        </p>
    </p-accordionTab>
    <p-accordionTab header="Como usamos o feedback?" tabStyleClass="questions">
        <p>
           Usamos o feedback para melhorar a precisão das informações, destacar os melhores locais e ajustar a experiência do usuário.
        </p>
    </p-accordionTab>
    <p-accordionTab header="Planos para empresas" tabStyleClass="questions">
        <p>
            Empresas na Lokus podem começar com o acesso gratuito. E se preferirem comprar o plano Premium. Com ele nossos parceiros tem mais opções de controle sobre métricas financeiros, 
            horas e espaços aproveitados com relatórios. Além de acesso ilimitado aos feedbacks e poder criar um relacionamento mais próximo com os seus clientes.
            Parceiros também participam de campanhas de marketing junto à Lokus.
        </p>
    </p-accordionTab>
    <p-accordionTab header="Planos para usuários" tabStyleClass="questions">
        <p>
            Usuários na Lokus podem começar com o acesso gratuito. E se preferirem podem compar o plano Essencial e Premium. Ambos participam do programa de pontuação, que você pode trocar por descontos 
            em produtos ou serviços. No plano Premium temos mais vantagens como um café esperando por você no horário que você fez sua reserva e acesso prefernecial,
            o qeu garante o melhor lugar se você busca conforto e praticidade.
        </p>
    </p-accordionTab>
        <p-accordionTab header="Mais dúvidas?" tabStyleClass="questions">
        <p>
            Você pode falar com a gente pelos seguintes canais:
            <br>
            Email: contato&#64;lokusblumenau.com.br
            <br>
            WhatsApp: (47) 9 9999-9999
            <br>
            Instagram: &#64;lokusblumenau
        </p>
    </p-accordionTab>
</p-accordion>
</div>
<app-footing/>
