.container {
    width: 100%;
    height: 650px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.faq-box{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #c7c7c7; /* aqui faz a borda externa da caixa */
}

::ng-deep .p-accordion .p-accordion-tab {
    margin: 2px;
    border-bottom: 2px solid #c7c7c7;
}


.questions{
    border-bottom: 1px solid #465466;
}