<div class="container">
    <div class="block">
        <div class="left">
            <mat-card class="feedbacks">
                <mat-card-subtitle style="color: black; font-size: large; margin: 7px;">
                    Feedbacks:  
                </mat-card-subtitle>
            </mat-card>
        </div>
        <div class="right">
            <mat-card class="infos">
                <div class="infos-options">
                    <nav class="infos-buttons">Adicionar</nav>
                    <nav class="infos-buttons">Remover</nav>
                    <nav class="infos-buttons">Histórico</nav>
                </div>
                <div class="user-infos">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQA7YMHtkcGzhlp4XRYnfbYsVULmOr5Jd_nGg&s" alt="" style="width: 60px; height: 60px; border-radius: 100%;">
                    <p style="color: black;">&#64;Estaack</p>
                </div>
            </mat-card>

            <mat-card class="best">
                    <mat-card-subtitle style="color: black; font-size: 14px; margin: 7px;">
                        Melhores Avaliados: 
                    </mat-card-subtitle>
                    <div class="diver-loc">
                        <div class="diver">
                                <p-divider [style]="{'margin-top': '7px'}"/> 
                        </div>
                    </div>
            </mat-card>
        </div>
    </div>
</div>
