<div class="container">
    <img class='logo-img' src="assets/Images/logo_transparent.png" alt="">
    <div class="menu-list">
        <button [routerLink]="['']" class="menu-button">Home</button>
        <button [routerLink]="['/pesquisa']" class="menu-button">Pesquisar</button>
        <button [cdkMenuTriggerFor]="menu"  class="menu-button">Empresas</button>
            <ng-template #menu>
            <div class="menu-icon" cdkMenu>
                <button class="menu-item" [routerLink]="['/empresa']" cdkMenuItem>Sobre</button>
                <button class="menu-item" [routerLink]="['/cadastro-empresa']" cdkMenuItem>Cadastrar-se</button>
            </div>
            </ng-template>
        <button class="menu-button">FAQ</button>    
        <button [cdkMenuTriggerFor]="user"  class="menu-button">
            <mat-icon fontIcon="person" class="login-img"/>
            <ng-template #user>
            <div class="menu-icon" cdkMenu>
                <button class="menu-item" [routerLink]="['/login']" cdkMenuItem>Login</button>
                <button class="menu-item" [routerLink]="['/cadastro-cliente']">Cadastrar-se</button>
            </div>
            </ng-template>
        </button>
    </div>
</div>
