<app-head-menu/>

<div class="container">
    <div class="box">
        <p>Problemas para acessar sua conta?</p>
        <label>Informe seu email ou nome de usuário e vamos te enviar um link para voltar a usar a sua conta. </label>
        <input 
        type="text"
        placeholder="Email ou nome de usuário"
        class="email-info"
        name="email">

        <button class="link-button">Me envie o link</button>

        <a class="faq-info" [routerLink]="['/perguntas']">Impossível acessar a sua conta?</a>
    </div>
    <div class="box-create">
        <div class="client">
            <a [routerLink]="['/cadastro-cliente']">Criar nova conta</a>
        </div>
        <div class="company">
            <a [routerLink]="['/cadastro-empresa']">Criar nova conta empresa</a>
        </div>      
    </div>
</div>

<app-footing/>