<p-card [style]="{
  'width': '350px',
  'height': '190px',
  'background-color':' #f8f5f0f0',
  'margin': '0px;',
  'padding-top': '0px'}">
  <ng-template pTemplate="content">
    <h1 class="saldo-titulo">Saldo:</h1>
    <h2 class="saldo-valor">R${{ saldo }}</h2>
    <p-divider />
    <div class="options">
      <p-button label="Pagar" [text]="true" size="small" severity="danger"></p-button>
      <p-button label="Depositar" [text]="true" size="small"></p-button>
      <p-button label="Extrato" [text]="true" size="small" severity="secondary"></p-button>
    </div>
  </ng-template>
</p-card>

