.campo1{
    width: 20%;
    height: 100vh;
    background-color: #044E55;
}
.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
}
