.container{
    border-radius: 20px;
    background-color: #333333;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    padding: 5%;
    max-width: 80%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-self: right;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color:#ffffff;
    font-weight: 600;
}

.form-title{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color:#ffffff;
}

.form-info{
    display: flex;
    flex-direction: column;
    width: 600px;
    padding: 5%;
}


.form-description{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-height: 350px;
    overflow-y: auto;   
    width: 600px;
    padding: 5%;
}

textarea[pinputtextarea] {
    border-radius: 10px;
  max-height: 350px; 
  overflow-y: auto; 
}

mat-radio-button {
    margin-right: 15px;
}

.send-button{
    border-radius: 10px;
    width: 150px;
    background-color: #ebd478 !important;
    color: #333333 !important;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 600;
}

::ng-deep .mat-mdc-form-field.mat-form-field-appearance-fill .mat-mdc-text-field-wrapper {
  background-color: #3333337a !important; 
  border-radius: 6px;
}


