
<div class="container">
    <app-head-menu/>

    <div class="search-area">
        <input type="text" placeholder="Indique pra onde você quer..." class="search-bar">
        <button class="search-button">Pesquisar</button>
    </div>
    
    <div class="divider"></div>
    
    <div class="options-area">
        <div class="option-card">
            <img src="https://images.unsplash.com/photo-1656504877313-9bd5542b9d6b?q=80&w=880&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
            <div class="overlay">Cafés</div>
        </div>
        <div class="option-card">
            <img src="https://images.unsplash.com/photo-1606021511779-aae22948af3e?q=80&w=880&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
            <div class="overlay">Restaurantes</div>
        </div>
        <div class="option-card">
            <img src="https://images.unsplash.com/photo-1585399090208-f231d43313aa?q=80&w=880&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
            <div class="overlay">Coworking</div>
        </div>
    </div>
    
    <div class="comments-area">
        <div class="text">
            <h3>Lokus</h3>
            <p>Lorem ipsum dolor, 
                sit amet consectetur adipisicing elit. Dicta eum nisi iste, 
                maiores deserunt minus porro error nobis accusamus earum?
                sit amet consectetur adipisicing elit. Dicta eum nisi iste, 
                maiores deserunt minus porro error nobis accusamus earum?
            </p>
            <ul class="statistics">
                <h4 class="num1">2025</h4>
                <h4 class="num2">2025</h4>
                <h4 class="num3">2025</h4>
            </ul>
        </div>
        <div class="comments-card"> </div>
    </div>
    
    
    <div class="infos-area">
        <div class="info-card">
            <h3>Visão</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Autem vero nobis dolores quae nulla. Repellendus et 
                maxime assumenda impedit dolor ut neque odio officiis quasi, 
                commodi recusandae perferendis provident vel!</p>
        </div>
        <div class="info-card">
                    <h3>Missão</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Autem vero nobis dolores quae nulla. Repellendus et 
                maxime assumenda impedit dolor ut neque odio officiis quasi, 
                commodi recusandae perferendis provident vel!</p>
        </div>
        <div class="info-card">
                    <h3>Valores</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Autem vero nobis dolores quae nulla. Repellendus et 
                maxime assumenda impedit dolor ut neque odio officiis quasi, 
                commodi recusandae perferendis provident vel!</p>
        </div>
    </div>
    <app-footing/>
</div>

