<p>O que dizem por aí...</p>
<p-carousel
  [value]="Feedbacks"
  [numVisible]="1"
  [numScroll]="1"
  [circular]="true"
  [autoplayInterval]="3000"
  [showIndicators]="false"
  [showNavigators]="false"
  class="feedback-carousel">

  <ng-template pTemplate="item" let-fb>
    <mat-card class="feedback-card">
      <div class="header">
        <div class="username">{{ fb.userName }}</div>
        <div class="date">{{ formatDate(fb.createdAt) }}</div>
      </div>
      <div class="content">{{ fb.content }}</div>
    </mat-card>
  </ng-template>

</p-carousel>