<app-head-menu/>

<div class="container">
    <img src="https://images.unsplash.com/photo-1515378791036-0648a3ef77b2?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
    <div class="block-one">
        <button class="button-support">Fale com o suporte</button>
    </div>

    <div class="block-password-faq">
        <div class="block" (click)="openRecoverPassword()" >Recuperar senha</div>
        <div class="block" (click)="openQandA()">Perguntas Frequentes</div>
    </div>
</div>

<app-footing/>