.container {
    position: relative;         
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;        
    overflow: hidden;
}


.container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;                    
    filter: brightness(0.4);
}


.button-support {
    background-color: #044e55;
    padding: 12px 30px;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #f1f1f1;
    cursor: pointer;
    margin-bottom: 30px;
    z-index: 1;                  
    position: relative;            
}


.block-password-faq {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    z-index: 1;                    
    position: relative;
    filter: brightness(0.9)            
}


.block {
    width: 330px;
    padding: 5%;
    display: flex;
    justify-content: center;
    background-color: #f1f1f1;
    border: 1px solid rgb(232, 232, 232);
    border-radius: 10px;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    box-shadow: #bbbbbb 2px 2px 7px;
    transition: 0.2s ease;
    cursor: pointer;
}

.block:hover {
    background-color: #bfd8d282;
}
