<div class="container">
    <ul class="icons">
        <li><img src="https://cdn-icons-png.flaticon.com/512/3916/3916598.png" alt=""></li>
        <li><img src="https://cdn-icons.flaticon.com/svg/3916/3916582.svg?token=exp=1750637119~hmac=8fd9e61b1a5deffb393cf65be929e2cc" alt=""></li>
        <li><img src="https://cdn-icons-png.flaticon.com/512/7653/7653230.png" alt=""></li>
        <li><img src="https://cdn-icons-png.flaticon.com/512/3917/3917061.png" alt=""></li>
    </ul>
    <div class="logout">
        <button class="btn-out">
            <img src="https://cdn-icons-png.flaticon.com/512/3917/3917349.png" alt="" style="width: 24px;">
        </button>
    </div>
</div>