<div class="head-menu"> 
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</div>

<div class="container">
    <h2>PLANOS DISPONÍVEIS</h2> 
    <div class="planos">
        <!-- Plano Essencial -->
        <div class="card">
            <h3>Plano Essencial</h3>
            <p class="price">Gratuito</p>
            <ul class="features">
                <li>Cadastro de empresas</li>
                <li>Painel básico</li>
                <li>Comissão de 12% sobre reservas</li>
                
              </ul>
              <button>Já comece a usar</button>
          </div>
          
          <!-- Plano Premium -->
          <div class="card">
              <h3>Plano Premium</h3>
              <p class="price">R$ 39,90/mês + 8% por reserva</p>
              <ul class="features">
                  <li>Cadastro de empresas</li>
                  <li>Painel completo (métricas e relatórios)</li>
                  <li>Pagamento: mensal + comissão reduzida</li>
                  <li>Participação em campanhas de marketing</li>
                  <li> Destaque nas buscas da plataforma</li>
              </ul>
              <button>Assinar Plano Premium</button>
          </div>
    </div>
  
  </div>



    
    <div class="footing"> </div>