.container {
  width: 100%;
  max-height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: flex-start;
  overflow-y: scroll;
}


button {
  align-self: center;
}


.spaces-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-height: 70vh;
  overflow-y: auto;
}

.space-card {
  padding: 1rem;
}
