<h2 mat-dialog-title>Adicionar Reserva - {{ data.place.name }}</h2>
<mat-dialog-content class="dialog-content">
  <mat-form-field appearance="fill">
    <mat-label>Data</mat-label>
    <input matInput type="date" [(ngModel)]="date">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Início</mat-label>
    <input matInput type="time" [(ngModel)]="startTime">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Fim</mat-label>
    <input matInput type="time" [(ngModel)]="endTime">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Reservado por</mat-label>
    <input matInput [(ngModel)]="reservedBy" placeholder="Opcional">
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="cancel()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="save()">Salvar</button>
</mat-dialog-actions>
