<mat-card class="container">
    <div class="up">
        <div class="photo">
            <img [src]="imageUrl" alt="">
        </div>
    </div>
    <div class="down">

        <div class="username">
            <p>&#64;Estaack</p>
            
        </div>

        <div class="flash-icons">
            <div class="icon-class">
                <label>{{visualizacoes}}</label>
                <mat-icon fontIcon="visibility" class="icon"/>
            </div>
            <div class="icon-class">
                <label>{{tokens}}</label>
                <mat-icon fontIcon="generating_tokens" class="icon"/>
            </div>
            <div class="icon-class">
                <label>{{amigos}}</label>
                <mat-icon fontIcon="group" class="icon"/>
            </div>
            <div class="icon-class">
                <label>{{empresas_seguidas}}</label>
                <mat-icon fontIcon="home_work" class="icon"/>
            </div>
        </div>
    </div>
</mat-card>
