
<mat-card class="rating-card">
  <mat-card-header>
    <mat-card-title>Avaliações do Espaço</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div class="rating-item">
      <span>Geral:</span>
      <strong>{{ averageOverall | number:'1.1-1' }}/5</strong>
    </div>
    <div class="rating-item">
      <span>Estacionamento:</span>
      <strong>{{ averageParking | number:'1.1-1' }}/5</strong>
    </div>
    <div class="rating-item">
      <span>Wi-Fi:</span>
      <strong>{{ averageWifi | number:'1.1-1' }}/5</strong>
    </div>
    <div class="rating-item">
      <span>Tomadas:</span>
      <strong>{{ averagePlug | number:'1.1-1' }}/5</strong>
    </div>
    <div class="rating-item">
      <span>Preço:</span>
      <strong>{{ averagePrice | number:'1.1-1' }}/5</strong>
    </div>
  </mat-card-content>
</mat-card>


