<mat-card class="reservation-compo">
  <h2>Reservas</h2>

  <p-calendar [(ngModel)]="selectedDate" view="month" dateFormat="yy-mm-dd"></p-calendar>

  <div *ngFor="let place of places">
    <h3>{{ place.name }}</h3>
    <p-table [value]="place.reservations">
      <ng-template pTemplate="header">
        <tr>
          <th>Data</th>
          <th>Início</th>
          <th>Fim</th>
          <th>Reservado por</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-reservation>
        <tr>
          <td>{{ reservation.date }}</td>
          <td>{{ reservation.startTime }}</td>
          <td>{{ reservation.endTime }}</td>
          <td>{{ reservation.reservedBy || '-' }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</mat-card>
