<div class="container">
    <div class="infos">
        <img src="https://images.immediate.co.uk/production/volatile/sites/30/2020/08/flat-white-3402c4f.jpg?quality=90&resize=500,454"
             alt="" style="width: 100px; height: 100px; border-radius: 100%;">
    </div>
    <ul class="options">
        <li [routerLink]="['/company/dashboard', stablishmentId, 'home']"><mat-icon fontIcon="home" class="icon-options"/>Home</li>
        <li [routerLink]="['/company/dashboard', stablishmentId, 'agenda-reservas']"><mat-icon fontIcon="event_available" class="icon-options"/>Agenda e Reservas</li>
        <li [routerLink]="['/company/dashboard', stablishmentId, 'editar-perfil']"><mat-icon fontIcon="edit" class="icon-options"/>Editar Perfil</li>
        <li [routerLink]="['/company/dashboard', stablishmentId, 'relacionamentos']"><mat-icon fontIcon="textsms" class="icon-options"/>Mensagens</li>
        <li [routerLink]="['/company/dashboard', stablishmentId, 'suporte']"><mat-icon fontIcon="touch_app" class="icon-options"/>Suporte</li>
        <li [routerLink]="['/company/dashboard', stablishmentId, 'configuracao']"><mat-icon fontIcon="settings" class="icon-options"/>Configuração</li>
    </ul>


</div>

