<app-head-menu/>
    <div class="container">
        <div class="card-description">
                
                <div class="description">
                    <h3>Coworking</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti mollitia explicabo,
                        iusto dicta accusantium blanditiis quo exercitationem assumenda obcaecati commodi?</p>
                </div>
                <div class="range">
                    <div class="button">
                        <button>Alugar</button>
                    </div>
                    <div class="price">
                        <h3>R$20,22 /h</h3>
                    </div>
                    
                </div>
                <div class="assessment">
                    <div class="iconsReviews">
                        <img src="https://cdn-icons-png.flaticon.com/512/3916/3916582.png" alt="">
                        <mat-icon fontIcon="star"></mat-icon>
                        <mat-icon fontIcon="star"></mat-icon>
                        <mat-icon fontIcon="star"></mat-icon>
                        <mat-icon fontIcon="star"></mat-icon>
                        <mat-icon fontIcon="star"></mat-icon>
                        
                    </div>
                    <div class="iconsReviews">
                        <img src="https://cdn-icons-png.flaticon.com/512/6955/6955566.png" alt="">
                        <mat-icon fontIcon="star"></mat-icon>
                        <mat-icon fontIcon="star"></mat-icon>
                        <mat-icon fontIcon="star"></mat-icon>
                        <mat-icon fontIcon="star_border"></mat-icon>
                        <mat-icon fontIcon="star_border"></mat-icon>
                    </div>
                    <div class="iconsReviews">
                        <img src="https://cdn-icons-png.flaticon.com/512/9254/9254512.png" alt="">
                        <mat-icon fontIcon="star"></mat-icon>
                        <mat-icon fontIcon="star"></mat-icon>
                        <mat-icon fontIcon="star"></mat-icon>
                        <mat-icon fontIcon="star"></mat-icon>
                        <mat-icon fontIcon="star_border"></mat-icon>
                    </div>
                    <div class="iconsReviews">
                        <img src="https://cdn-icons-png.flaticon.com/512/16059/16059904.png" alt="">
                        <mat-icon fontIcon="star"></mat-icon>
                        <mat-icon fontIcon="star"></mat-icon>
                        <mat-icon fontIcon="star_border"></mat-icon>
                        <mat-icon fontIcon="star_border"></mat-icon>
                        <mat-icon fontIcon="star_border"></mat-icon> 
                    </div>
                    <div class="iconsReviews">
                        <img src="https://cdn-icons-png.flaticon.com/512/3916/3916676.png" alt="">
                        <mat-icon fontIcon="star"></mat-icon>
                        <mat-icon fontIcon="star"></mat-icon>
                        <mat-icon fontIcon="star"></mat-icon>
                        <mat-icon fontIcon="star_border"></mat-icon>
                        <mat-icon fontIcon="star_border"></mat-icon>
                    </div>
                    
                    
                    
                    
                </div>
            </div>
    
            <div class="images">
                    <app-carousel></app-carousel>
                
            </div>

    </div>
<app-footing/>

