<app-head-menu/>
    <div class="container">
        <div class="layer"></div>
        <div class="login-box">
            <div class="group-input">
                <label>USUÁRIO: </label>
                <input type="text" placeholder=" " class="info-text">
                <label>SENHA: </label>
                <input type="text" placeholder=""  class="info-text">
            </div>
            <div class="block">

                <button class="login-button">Entrar</button>
            </div>
        </div>
    </div>

<app-footing/>