<div class="container">
    <div class="up">
        <app-user-balance-card/>
        <app-user-balance-card/>
    </div>
    <div class="down">
    <p-card [style]="{
  'width': '838px',
  'height': '250px',
  'background-color':' #f8f5f0f0',
  'margin': '0px;',
  'padding-top': '0px'}">
<p-carousel [value]="PrincipaisRecomendacoes" [numVisible]="3" [numScroll]="3" circular="true">
    <ng-template let-product pTemplate="item">
        <app-card-company-for-user-page />
    </ng-template>
</p-carousel>

    <!-- <ng-container *ngFor="let c of PrincipaisRecomendacoes">
        <app-card-company-for-user-page/>
    </ng-container> -->
    </p-card>
    </div>
</div>
