<app-head-menu/>

<div class="container">

        <div class="text">
            <h3>A LOKUS</h3>
            <h3>NOSSOS COLABORADORES</h3>
            <p>Na Lokus, nossos colaboradores são cafés, padarias, coworkings e outros estabelecimentos que acreditam em uma cidade mais conectada, 
                produtiva e colaborativa. Eles abrem suas portas para profissionais que buscam ambientes acolhedores para trabalhar, estudar ou criar. 
                Juntos, criamos uma rede que valoriza o comércio local, otimiza espaços ociosos e promove novas experiências de trabalho.

                Cada parceiro é essencial para tornar nossa plataforma possível — oferecendo conforto, internet estável, boa energia e, 
                muitas vezes, um café quentinho como bônus. Mais do que pontos no mapa, nossos colaboradores são parte de uma transformação urbana e humana.</p>
            
            <h3>COMO FAZER PARTE</h3>
            <p>Você tem um espaço com mesas, internet e vontade de receber novos públicos? Então a Lokus é para você!
                Ser um colaborador é simples:</p>
                <ul>
                    <li>Cadastre seu estabelecimento na plataforma.</li>
                    <li>Escolha os dias e horários disponíveis para reservas.</li>
                    <li>Defina o valor por hora ou por período.</li>
                    <li>Receba visitantes e aumente sua visibilidade e renda.</li>
                </ul>

                <p>Não há custo inicial — você só ganha quando alguém reserva seu espaço. Além disso, oferecemos suporte e ferramentas para acompanhar o desempenho e ampliar suas oportunidades.
             Junte-se à Lokus e transforme sua mesa vazia em uma nova fonte de receita.</p>
        </div>
        <button class="signup-box">FAÇA PARTE!</button>
    
</div>

<app-footing/>